body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #005323;
    min-height: 50px;
    border-bottom: solid white;
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
}

header img {
    width: 60px;
}

header a {
    text-decoration: none;
    margin-top: auto;
    color: white;
    font-size: 24px;
}

header a:hover {
    color: rgb(185, 185, 185);
}

input {
    padding: 3%;
    border-radius: 12px;
    border: none;
}

main {
    background-color: rgb(237, 243, 238);
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    margin: 0 10%;
    background-color: rgba(242, 242, 242, 0.841);
    min-height: 100vh;
    padding: 25px;
}

#groups {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.groupImg {
    object-fit: cover;
    margin: 0 14px;
    height: 345px;
}

.imgSlide {
    height: 345px;
    width: 80%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
}

footer a {
    text-decoration: none;
    color: #005323;
}

footer a:hover {
    color: rgb(186, 186, 186);
}

#product {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.productRow {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
    max-height: 50%;
}

.productRow a {
    text-decoration: none;
    color: black;
}

#groups a {
    text-decoration: none;
    color: black;
}

#productShop {
    width: 100%;
    height: 100%;
}

.productImg {
    object-fit: cover;
    vertical-align: middle;
    width: 100%;
    height: 25%;
    margin-top: 8px;
}

.cartRow {
    display: flex;
    flex-direction: column;

}



.price {
    color: #005323;
    margin: 0;
}

h2 {
    margin: 0;
}

article h1 {
    text-align: center;
}

article {
    height: auto;

}

.sort {
    display: flex;
    margin: auto;
}

.sort p {
    margin: 10px;
}

#shop {
    display: flex;
    align-items: flex-end;
}

.colorPick {
    padding: 10px;
    border-radius: 2px;
    border: solid 1 black;
}

#putIn {
    padding: 10px;
    border: none;
    background-color: #005323;
    color: white;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 24px;
    margin: 10px 0;
}

#shop div h1 {
    text-align: left;
    margin: 0;
}

#shopInfo {
    max-width: 30%;
}

.stats {
    background-color: #005323;
    color: white;
    border: solid white;
    align-self: flex-start;
    font-size: 48px;
    margin: 0;
}

#productShopMobile {
    position: fixed;
    display: none;
}

.unit {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    justify-content: space-between;
    margin: 5px 20%;
}

.cartImg {
    object-fit: cover;
    width: 15%;
    height: 10vh;

}

.unitTxt {
    text-align: right;
}

.cartBtn {
    background-color: rgb(229, 19, 19);
    color: white;
    padding: 10px 15px;
    border: none;
}

#payBtn {
    background-color: #005323;
    color: white;
    border: none;
    padding: 2%;
    margin: 0 20%;
}

#groupsShop {
    display: flex;
    justify-content: center;
    margin: 20px;
}

@media (max-width: 900px) {
    #shop {
        display: block;
    }

    #shopInfo {
        max-width: 100%;
    }

    h2 {
        font-size: 12px;
    }


    .groupImg {
        width: 130px;
        margin: 0;
    }

    #slides {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .imgSlide {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #content {
        margin: 0 1%;
        padding: 0;
    }

    #productShop {
        position: fixed;
        display: none;
    }

    #productShopMobile {
        display: flex;
        position: relative;
        justify-content: flex-start;
    }

    .mobileImg {
        overflow: hidden;
        width: 32vw;
    }

    .cartImg {
        width: 30%;
    }

    #payBtn {
        padding: 8%;
    }

    .hideMobile {
        display: none;
    }

    .mobileChangeFootInfo {
        width: 150px;
        font-size: 12px;
    }

    #groupsShop {
        display: inline;
    }
}